<IfModule mod_rewrite.c>
#    Redirect 302 / http://google.com
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) /#/$1

#	RewriteEngine on
#	RewriteCond %{REQUEST_FILENAME} -s [OR]
#	RewriteCond %{REQUEST_FILENAME} -l [OR]
#	RewriteCond %{REQUEST_FILENAME} -d
#	RewriteRule ^.*$ - [NC,L]
</IfModule>
