#gallery .sk-fading-circle,
#gallery h2 {
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery .sk-fading-circle .sk-circle:before {
  background-color: #888;
}

.gallery-directive {
    position: relative;
    width: 100
    padding: 10px;
    max-height: 500px;
    height: 100%;
}

.gallery-directive:before,
.gallery-directive:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-directive #photo {
    float: left;
    width: 80%;
    height: 100%;
    padding: 10px;
    position: relative;
}

.gallery-directive #photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.gallery-directive #photo-list {
    float: left;
    width: 150px;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
    opacity: 0.5;
    
    transition: ease 0.5s background-color, opacity;
}

.gallery-directive #photo-list:hover {
    background-color: #1D1D1D;;
    opacity: 1;
}

.gallery-directive #photo-list .photo {
    padding: 10px;
    width: 100px;
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery-directive #photo-list .photo:active {
    transform: scale(0.9);
}

.gallery-directive #photo-list img {
    width: 100%;
    margin: 0 auto;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
}